
* {
    outline: none !important;
}
html {
    scroll-behavior: smooth;
    width: 100% !important;
    overflow-x: hidden !important;
}

body {
    width: 100% !important;
    overflow-x: hidden !important;
}
/* font declaration */
.dropdown-item.active, .dropdown-item:active {
    background-color: #ee4141 !important;
}
.bg-black {
    background-color: black !important;
    color: white !important;
}
.text-black {
    color: black !important;
}
@font-face {
    font-family: arciform;
    src: url(../fonts/Arciform.otf);
}
@font-face {
    font-family: monserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}
.map-indo {
    height: 200px;
}
.map-indo #sumatra img {
    height: 125px;
    position: absolute;
    left: 0;
    top: 0;
}
.map-indo #jawa img {
    height: 45px;
    position: absolute;
    top: 122px;
    left: 109px;
}
.map-indo #kalimantan img {
    height: 94px;
    position: absolute;
    top: 8px;
    left: 139px;
}
.map-indo #sulawesi img {
    position: absolute;
    height: 74px;
    left: 243px;
    top: 40px;
}
.map-indo #irian img {
    position: absolute;
    height: 137px;
    left: 290px;
    top: 35px;
}

/* end font declaration */
/* my element declaration */
p {
    font-family: monserrat;
}
.img-md-100 {
    width: 75%;
}
@media only screen and (max-width: 767px) {
    .img-md-100 {
        width: 100%;
    }
}
h1, h2, h3, h4, h5, h6, button {
    font-family: poppins;
}
button {
    font-family: poppins !important;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #faecec;
}
::-webkit-scrollbar-thumb {
    background: #ee4141;
}  
::-webkit-scrollbar-thumb:hover {
    background: #b81313;
}
.myfont-arciform {
    font-family: arciform;
}
.bg-white {
    background-color: #fff !important;
}
.text-white {
    color: #fff !important;
}
.bg-gray {
    background-color: #e5e5e5 !important;
}
.text-gray {
    color: #e5e5e5 !important;
}
.absolutely {
    left: 0;
    top: 0;
}
.shadow-primary {
    box-shadow: 0px 5px 10px rgba(132, 158, 251, 0.7);
    transition: all .3s;
}
.shadow-primary:hover {
    box-shadow: 0px 10px 20px rgba(132, 158, 251, 0.7);
}
.underline {
    text-decoration: underline;
}
.overlay-black {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .45);
}
.shadow-danger {
    box-shadow: 0px 5px 10px rgba(241, 96, 96, 0.3);
    transition: all .3s;
}
.shadow-danger:hover {
    box-shadow: 0px 10px 20px rgba(241, 96, 96, 0.5);
}
.shadow-warning {
    box-shadow: 0px 5px 10px rgba(241, 207, 96, 0.7);
    transition: all .3s;
}
.shadow-warning:hover {
    box-shadow: 0px 10px 20px rgba(241, 207, 96, 0.7);
}
.shadow-dark {
    transition: all .3s;
}
.shadow-dark:hover {
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
}
.bg-red {
    background-color: #ee4141;
}
.clr-red {
    color: #ee4141;
}
.img-jumbotron {
    opacity: .15;
    top: 100px;
    left: -200px;
}
.prespective {
    perspective: 25px;
}
#helper {
    color: white;
    padding: 0.2em;
    border-radius: 5%;
    background-color: grey;
    position: absolute;
    z-index: 0;
}
.hidden {
    display: none;
}
/* end my element declaration */

/* nav declaration */
.navbar {
    transition: all .3s;
}
header {
    z-index: 1000 !important;
    position: fixed;
    top: 0;
    width: 100%;
}
#image_nav {
    transition: all .3s;
    top: -2px;
}
.image_transform {
    transition: all .3s;
    transform: scale(1.5);
}
.image_normal {
    transition: all .3s;
    transform: scale(1);
}
#title_nav {
    color: #ee4545;
    font-family: arciform;
    letter-spacing: 1px;
}

.icon-semu-nav-small {
    bottom: 0;
    right: 0px;
    top: 0;
}

.form-search-small {
    left: 0px !important;
    right: 0px !important;
}
.burger-nav div {
    height: 4px;
    background-color: black;
    transition: all .3s;
    margin: 4px 0px;
    border-radius: 10px;
}
.burger-nav {
    display: inline-block;
}
.burger-nav div:nth-child(1) {
    width: 25px;
}
.burger-nav div:nth-child(2) {
    width: 15px;
    position: relative;
    left: 5px;
}
.burger-cross2 {
    width: 25px !important;
    transition: all .3s;
    transform: rotate(-45deg) !important;
}
.burger-cross1 {
    width: 25px !important;
    transition: all .3s;
    transform: rotate(45deg) !important;
    position: relative !important;
    left: 4px;
    top: 8px !important;
}
@media screen and (min-width: 768px) {
    .menu-item, .menu-item a, .nav-item, .active-nav .nav-link {
        transition: all .3s;
        font-size: .8rem;
        position: relative;
        z-index: 100;
        margin: 0px 1.5px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .menu-item:hover, .menu-item a:hover, .active-nav a.nav-link {
        color: #f36363 !important;
    }
    .menu-item::after, .active-nav::after {
        content: '';
        width: 80%;
        height: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position: absolute;
        left: 10%;
        right: 10%;
        bottom: -12px;
        background-color: #ee4141;
        transition: all .3s;
    }
    .menu-item:hover::after, .active-nav::after {
        height: 4px !important;
    }
    .active-nav {
        font-weight: bold;
    }
}
.search-toggle {
    transition: all .3s;
    cursor: pointer;
}

.search-toggle:hover {
    color: #ee4141;
}

.search-nav-hide {
    position: absolute;
    top: 0px;
    left: 20%;
    bottom: 0px;
    width: 0%;
    opacity: 0;
    transition: all .3s;
}
.search-nav-show {
    position: absolute;
    top: 0px;
    left: 20%;
    bottom: 0px;
    width: 80% !important;
    opacity: 1 !important;
    transition: all .3s;
}

#title_nav {
    transition: all .3s;
    position: relative;
}
.title_hide {
    transition: all .3s;
    position: relative;
    left: -100px !important;
    opacity: 0;
    color: #ee4141 !important;
}
.title_show {
    transition: all .3s;
    position: relative;
    left: 0px;
    color: #ee4141 !important;
    opacity: 1;
}
@media screen and (max-width: 1220px) {
    .search-nav {
        display: none;
    }
    .search-small-nav {
        top: -1px;
        height: 30px;
        width: 100%;
        position: relative;
    }
    .form-search-top {
        top: 15px;
    }
    .navbar {
        background-color: white !important;
    }
}

@media screen and (min-width: 1219px) {
    .search-small-nav {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {
    .menu-item, .menu-item a, .nav-item, .active-nav .nav-link {
        transition: all .3s;
        font-size: .8rem;
        position: relative;
        z-index: 100;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .menu-item:hover, .menu-item a:hover, .active-nav a.nav-link {
        color: #ee4141 !important;
    }
    .search-lg-toggle {
        display: none;
    }
    .menu-item::after, .active-nav::after {
        content: '';
        width: 0px;
        height: 4px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        position: absolute;
        left: 0px;
        bottom: -5px;
        background-color: #ee4141;
        transition: all .3s;
    }
    .menu-item:hover::after, .active-nav::after {
        width: 50% !important;
    }

    .nav-item {
        font-size: .75rem;
        margin: .7rem 0px 0px 0px;
    }
    .nav-item:nth-child(1) {
        margin-top: 1.2rem;
    }
    .navbar::after {
        content: '';
        height: 58px;
        /* border-bottom: 1px soli  d gainsboro; */
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-top: 1px solid gainsboro;
    }
}

#btn-login {
    background: linear-gradient(to right bottom, #ee4141, #b81313);
    width: 100%;
    transition: all .3s;
}
#btn-login:hover {
    transform: translateY(-2px);
    background: linear-gradient(to right bottom, #c52525, #7c0b0b);
}
.btn-menu-nav {
    z-index: 100;
}

.btn-myprimary {
    background-image: linear-gradient(to bottom left, #60daf8, #1067aa);
    border: none;
    transition: all .3s;
}
.btn-myprimary:hover {
    background-image: linear-gradient(to bottom left, #2fb1d1, #094c80);
}

/* end nav declaration */
/* jumbotron declaration */
.slick-slide {
    margin: 25px 10px !important;
}
.btn-grup-jumbotron {
    text-align: left;
}
.p-sm-justify {
    text-align: left;
}
.p-sm-center {
    text-align: left;
}
.d-sm-none {
    display: inline-block !important;
}
@media screen and (max-width: 767px) {
    .btn-grup-jumbotron {
        text-align: center;
    }
    .p-sm-justify {
        text-align: justify;
    } 
    .d-sm-none {
        display: none !important;
    }
    .p-sm-center {
        text-align: center;
    }
    #nav-footer ul li {
        transition: all .3s;
    }
    #nav-footer ul li:hover {
        background-color: #ee4141;
        margin: 5px 0px;
        border-radius: 5px;
        color: white;
    }
    #nav-footer ul li a {
        transition: all .3s;
    }
    #nav-footer ul li:hover a {
        color: white;
    }
}
.slick-dots li button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 10px;
    transition: all .3s;
    color: #ee4141 !important;
    background-color: #ee4141 !important;
}
.slick-dots li.slick-active button {
    width: 20px !important;
    height: 10px !important;
    border-radius: 10px;
    position: relative;
    left: -5px;
    transition: all .3s;
    color: #ee4141 !important;
    background-color: #ee4141 !important;
}
.slick-dots li button::before {
    content: '' !important;
}


.jumbotron-home {
    /* background-image: url('../img/lockdown.jpg');
    background-size: cover;
    background-attachment: fixed; */
    height: 550px;
    position: relative;
    overflow: hidden;
    transition: all .3s;
}
#img_lockdown-parallax {
    left: 0;
    top: 0;
    width: 120% !important;
    transition: all .5s;
}
#jumbotron-id {
    transition: all 0.5s;
}
@media screen and (max-width: 768px) {
    .jumbotron-home {
        height: 700px;
    }
    
    #img_lockdown-parallax {
        left: 0;
        top: 0;
        width: auto !important;
        height: 120% !important;
        transition: all .5s;
    }
}

.jumbotron-home .container {
    top: 170px;
}

a:hover {
    text-decoration: none !important;
}


/* end jumbotron declaration */
/* berita declaration */

#berita-id {
    position: relative;
    top: -55px;
}
.card-berita {
    height: 370px;
    overflow: hidden;
}
.card-berita img {
    background-size: cover;
}
.card-berita .card-body {
    position: absolute;
    bottom: 0px;
    opacity: 1;
}
.card-berita .card-body .responses {
    font-size: .75rem;
}
.card-berita .card-body .card-text {
    position: absolute;
    bottom: -100px;
    opacity: 0;
    transition: all .3s;
}
.card-berita .card-body .card-text {
    font-size: .8rem;
}
.card-berita .card-body:hover .card-text {
    position: relative;
    bottom: 0;
    opacity: 1;
    transition: all .3s;
}
.card-berita img {
    transition: all .3s;
}
.card-berita .tools {
    transition: all .3s;
    position: relative;
    top: 120px;
}
.tools button:hover {
    background-color: white;
    color: black !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.tools-hide {
    transition: all .3s;
    top: -120px !important;
    opacity: 0;
}
.tools-show {
    transition: all .3s;
    opacity: 1;
    top: 120px !important;
}
.img_berita-opacity5 {
    opacity: .5 !important;
    transform: scale(1.1);
    transition: all .3s;
}
.other-news {
    height: 370px;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    transition: all .3s;
}
.news-other {
    transition: all.3s;
    margin: 9px 0px !important;
}
.news-other:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15) !important;
    transform: translateY(-3px);
}
.img-others_news {
    height: 65px;
    position: relative !important;
    overflow: hidden !important;
}
.img-other_news {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
}
.other-body p {
    font-size: .7rem;
}

/* end berita declaration */
/* pencegahan declaration */

#pencegahan-id {
    top: -85px;
}

/* end pencegahan declaration */
/* toko declaration */

.card-toko {
    overflow: hidden;
    height: 300px;
}
.card-toko img {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    transition: all .3s;
    width: auto !important;
}
.card-toko .card-body .card-category {
    top: -32px;
    z-index: 0;
    left: 10px;
    border-top-left-radius: 5px;
    transition: all .3s;
    border-top-right-radius: 5px;
    opacity: 1;
}
.card-toko img:hover {
    transform: scale(1.1);
    opacity: .6;
}
@media screen and (max-width: 767px) {
    .card-toko img {
        top: 0;
        left: 0;
        bottom: auto !important;
        right: 0;
        width: 100%;
        transition: all .3s;
        height: auto !important;
    }
}
.card-toko .card-body {
    position: absolute;
    bottom: 0px;
    width: 94%;
    left: 3%;
    transition: all .3s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card-toko .card-body p {
    font-size: .7rem;
}
.icon-star-toko {
    font-size: .8rem;
}
.card-toko .card-body .card-opsi {
    position: absolute;
    bottom: -100px;
    transition: all .3s;
    opacity: 0;
}
.card-toko .card-body:hover .card-opsi {
    position: relative;
    bottom: 0;
    transition: all .3s;
    opacity: 1;
}
.card-toko .card-body:hover {
    border-radius: 5px;
    bottom: 10px;
}
.card-toko .card-body:hover .card-category {
    z-index: -1;
    top: 10px;
    opacity: 0;
}
/* end toko declaration */
/* team declaration */

#team-awesome {
    background-image: url('../img/teamwork.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
}
.profile {
    width: 120px;
    height: 120px;
    border-radius: 120px;
    overflow: hidden;
    background-color: white;
    display: inline-block;
    border: 2px solid white;
}
.profile p {
    font-size: .7rem;
}
/* end team declaration */
/* footer declaration */

#footer-id {
    background-color: #313131;
}
.follow-footer .icon {
    font-size: 1.4rem !important;
}
.follow-footer .icon span {
    margin: 0px 5px;
}

ul {
 padding:0;
 margin:0
}
li {
 list-style:none
}
a:focus,a:hover {
 text-decoration:none;
 -webkit-transition:.3s ease;
 -o-transition:.3s ease;
 transition:.3s ease
}

.no-padding {
 padding:0!important
}
.go_top {
    line-height:40px;
    cursor:pointer;
    width:40px;
    color:#fff;
    position:fixed;
    -webkit-box-shadow:0 4px 4px rgba(0,0,0,.1);
    box-shadow:0 4px 4px rgba(0,0,0,.1);
    -webkit-border-radius:50%;
    border-radius:50%;
    right: -200px;
    opacity: 0;
    transition: all .3s;
    z-index:111;
    transition: all .3s;
    bottom:50px;
    opacity: 1;
    text-align:center;
}
.go_top_hide {
    right: -200px !important;
    opacity: 0;
    transition: all .3s;
}
.go_top_show {
    transition: all .3s;
    opacity: 1;
    right: 50px;
    right: 50px;
}
.go_top span {
 display:inline-block
}
.footer-big {
 padding:105px 0 65px 0
}
.footer-big .footer-widget {
 margin-bottom:40px
}
.footer--light {
 background:#ede7e7
}
.footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
 color:#898b96
}
.footer-menu {
 padding-left:48px
}
.footer-menu ul li a {
 font-size:15px;
 line-height:32px;
 -webkit-transition:.3s;
 -o-transition:.3s;
 transition:.3s
}
.footer-menu ul li a:hover {
 color:#5867dd
}
.footer-menu--1 {
 width:100%
}
.footer-widget-title {
 line-height:42px;
 margin-bottom:10px;
 font-size:18px
}
.mini-footer {
 background:#192027;
 text-align:center;
 padding:32px 0
}
.mini-footer p {
 margin:0;
 line-height:26px;
 font-size:15px;
 color:#999
}
.mini-footer p a {
 color:#5867dd
}
.mini-footer p a:hover {
 color:#34bfa3
}
.widget-about img {
 display:block;
 margin-bottom:30px
}
.widget-about p {
 font-weight:400
}
.widget-about .contact-details {
 margin:30px 0 0 0
}
.widget-about .contact-details li {
 margin-bottom:10px
}
.widget-about .contact-details li:last-child {
 margin-bottom:0
}
.widget-about .contact-details li span {
 padding-right:12px
}
.widget-about .contact-details li a {
 color:#5867dd
}
@media (max-width:991px) {
 .footer-menu {
  padding-left:0
 }
}
.icons-social {
    font-size: 1.7rem !important;
}
.icons-social span {
    margin: 0px 7px !important;
}

/* end footer declaration */


/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* other page */
/* map page declaration */

#bg-map {
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .3s;
    width: 100%;
    opacity: 0.5;
    height: 100%;
    overflow: hidden !important;
}
.bg-mob {
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
} 
#peta-content {
    position: relative;
    height: 450px;
}
#sumatra-parent img {
    position: absolute;
    height: 230px;
    left: 0;
    top: 0;
}
#jawa-parent img {
    position: absolute;
    height: 100px;
    top: 225px;
    left: 193px;
}
#kalimantan-parent img {
    position: absolute;
    height: 190px;
    top: 3px;
    left: 260px;
}
#sulawesi-parent img {
    position: absolute;
    height: 170px;
    top: 70px;
    left: 466px;
}
#irian-parent img {
    position: absolute;
    height: 250px;
    left: 580px;
    top: 51px;
}
#bg-gradient-map {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2) ,transparent);
}
#maps {
    display: none;
}
@media screen and (max-width: 992px) {
    #maps-desktop {
        display: none !important;
    }
    #maps {
        display: inline-block;
    }
    #chart-parent {
        overflow-x: auto;
    }
    canvas#chart-covid {
        height: 300px !important;
    }
    #data {
        position: relative;
        top: -10px;
    }
    .bg-mob {
        left: 0;
        position: absolute;
        top: 0;
        bottom: 0 !important;
        width: 120%;
        background-size: cover;
        background-attachment: fixed;
    } 
} 
@media screen and (max-width: 600px) {
    .bg-mob {
        left: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 140%;
        width: auto;
        background-size: cover;
        background-attachment: fixed;
    } 
}
@media screen and (min-width: 992px) {
    canvas#chart-covid {
        height: 400px !important;
    }
} 

#positif-id {
    background-color: rgb(240, 222, 58);
}
#sembuh-id {
    background-color: rgb(92, 219, 149);
}
#meninggal-id {
    background-color: rgb(238, 65, 65);
}
.conditionCovid-label {
    font-size: .8rem;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    transition: all .3s;
    border-radius: 200px !important;
    background-color: #ee4141;
    display: inline-block;
    border: none !important;
}
.carousel-indicators .active {
    width: 30px !important;
    height: 10px;
    transition: all .3s;
    border-radius: 100px !important;
    background-color: #ee4141;
}
/* end map page declaration */
/* beritap page declaration */

#berita-page {
    background-image: url('../img/wallpaper/news.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 400px;
}
#news-list li a.nav-link {
    padding: 0 !important;
}
#news-list {
    text-align: center !important;
}
#news-list li a.nav-link:nth-child(1) {
    padding: 0 !important;
    position: relative;
}
#news-list li, .active-nav_news {
    margin: 0px 5px;
    text-align: center;
    position: relative;
    padding: 7px 15px;
}
#news-list li a {
    transition: all .3s;
}
#news-list li:hover a , .active-nav_news a {
    color: white !important;
}
#news-list li:last-child:hover a {
    color: black !important;
}
#news-list li a.nav-link {
    position: relative;
    z-index: 10;
}
#news-list li::before, .active-nav_news::before {
    content: '';
    text-align: center;
    position: absolute;
    z-index: 0;
    bottom: 0%;
    left: 0px;
    top: 0%;
    border-radius: 5px;
    height: 100% !important;
    width: 0%;
    transition: all .3s;
    background-color: #ee4141;
}
#news-list li:hover::before, .active-nav_news::before{
    content: '';
    width: 100% !important;
    transition: all .3s;
}
#news-list li:last-child::before {
    content: '';
    background-color: white !important;
}
#news-list li:last-child:hover::before {
    content: '';
    background-color: white !important;
}
.card-news {
    height: 450px;
    overflow: hidden;
    transition: all .3s;
}
.card-news:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1)!important;
}
.card-news img {
    background-size: cover;
}
.card-news .card-body {
    position: absolute;
    bottom: 0px;
    opacity: 1;
}
.card-news .card-body .responses {
    font-size: .75rem;
}
.card-news .card-body .card-text {
    position: absolute;
    bottom: -100px;
    opacity: 0;
    transition: all .3s;
}
.card-head {
    width: 100%;
}
.card-news, .card-other-news {
    cursor: pointer;
}
.card-news .card-body .card-text {
    font-size: .8rem;
}
.card-news .card-body:hover .card-text {
    position: relative;
    bottom: 0;
    opacity: 1;
    transition: all .3s;
}
.card-news img {
    transition: all .3s;
}
.card-other-news .tools {
    top: 90px !important;
}
.card-news .card-head img {
    transition: all .3s;
}
.card-other-news .card-head:hover img,
.card-news .card-head:hover img {
    transition: all .3s;
    opacity: .5;
    transform: scale(1.1);
}
.card-news-list .card-head:hover img {
    height: 100% !important;
    transition: all .3s;
    opacity: .5;
    transform: scale(1.1);
    width: auto !important;
}
@media screen and (max-width: 680px) {
    .card-news-list .card-head:hover img {
        width: 100% !important;
        transition: all .3s;
        opacity: .5;
        transform: scale(1.7);
    }
}
.card-other-news .card-head .tools-news,
.card-news .card-head .tools-news {
    transition: all .3s;
    top: -100px;
    opacity: 0;
}
.card-other-news .card-head:hover .tools-news,
.card-news .card-head:hover .tools-news {
    transition: all .3s;
    opacity: 1;
    top: 160px !important;
    animation: bounce;
    animation-duration: 1s;
}
.card-other-news .card-head:hover ~ .card-body {
    bottom: -100px;
    opacity: 0;
}
.card-other-news .card-head:hover .tools-news {
    top: 90px !important;
}
.card-other-news .card-head .tools-news button:hover,
.card-news .card-head .tools-news button:hover {
    background-color: white;
    color: black !important;
}
.card-other-news .card-head .tools-news button:hover svg,
.card-news .card-head .tools-news button:hover svg {
    color: #ee4141 !important;
}
.search-news {
    right: 0px;
    top: 16px;
    width: 35%;
}
@media screen and (max-width: 767px) {
    .search-news {
        right: 0px;
        top: 16px;
        width: 75%;
    }   
}
.navbar-news-fix {
    position: fixed !important;
    left: 0;
    right: 0;
    width: 100%;
    top: 58px;
    z-index: 100;
    padding: .5rem 1rem 1rem 1rem;
}
.card-other-news {
    position: relative;
    height: 221px;
    overflow: hidden;
    transition: all .3s;
}
.card-other-news:hover {
    box-shadow: 0px .5rem 1rem rgba(0, 0, 0, .1) !important;
}
.card-other-news .card-body {
    position: absolute;
    bottom: 0;
    opacity: 1;
    width: 100%;
    transition: all .3s;
    left: 0;
}
.card-other-news .card-body .card-text {
    font-size: .8rem;
    position: absolute;
    bottom: -100px;
    opacity: 0;
    transition: all .3s;
}
.card-other-news .card-body:hover .card-text {
    position: relative;
    bottom: 0px;
    opacity: 1;
    transition: all .3s;
}
.card-other-news .card-body .responses {
    font-size: .75rem;
}
/* end beritap page declaration */
/* end news detail declaration */

#cover-news {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    left: 0;
    border-radius: 20px;
    top: 0;
    position: relative;
}
.icons-news { 
    position: sticky !important;
    top: 100px;
}
#widget-news {
    width: 60px;
}
.widget-menu {
    display: block;
}
#widget-fix {
    position: fixed;
    top: 150px;
}
@media screen and (max-width: 767px) {
    #widget-news {
        width: 200px;
    }
    .widget-menu {
        display: inline-block;
    }
    #widget-fix {
        position: fixed;
        bottom: 20px;
        text-align: right !important;
        top: auto;
        left: 20px;
    }
}
/* news detail declaration */
/* end other page */
